<div class="promo__wrapper">
  <h1 class="promo__header">Подбор пульсометра</h1>
  <h2 class="promo__subheader">с учётом Вашего уровня подготовки</h2>
  <div class="promo__icons">
    <div class="promo__icon">
      <img src="./../img/icons/01.png" alt="time">
      Время подбора:10 минут
    </div>
    <div class="promo__icon">
      <img src="./../img/icons/02.png" alt="cart">
      Бесплатная доставка
    </div>
    <div class="promo__icon">
      <img src="./../img/icons/03.png" alt="messages">
      Ответим на все вопросы
    </div>
  </div>
  <button class="button button--main">заказать кОНСУЛЬТАЦИЮ</button>
  <div class="promo__link">
    или
    <a href="#">ПЕРЕЙТИ В КАТАЛОГ</a>
  </div>
</div>
