<section class="feedback">
  <div class="container">
    <h2 class="title">отзывы клиентов</h2>
    <div class="feedback__content">
      <div class="feedback-sidebar">
        <img src="../img/feedback/01.png" alt="">
        <img src="../img/feedback/02.png" alt="">
        <img src="../img/feedback/03.png" alt="">
      </div>
      <div class="feedback-item">
        <div class="feedback-item__content feedback-item__content">
          <div class="feedback-item__subtitle">Ирина Иванченко </div>
          <p class="feedback-item__achievement">2 полумарафона</p>
          <div class="feedback-item__descr">Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности. <br>Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же. <br>Новые цели - новый гаджет!
            <br>Спасибо, RunSmart! </div>
        </div>
        <div class="feedback-item__content">
          <div class="feedback-item__subtitle feedback-item__subtitle--mt78">Иван Сёмочкин </div>
          <p class="feedback-item__achievement">1 полумарафон</p>
          <div class="feedback-item__descr">Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. <br>Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд. <br>С ними подготовился к своему первому полумарафону! Спасибо!!! </div>
        </div>
        <div class="feedback-item__content">
          <div class="feedback-item__subtitle feedback-item__subtitle--mt60">Юлия Дашкина </div>
          <p class="feedback-item__achievement">2 полумарафона</p>
          <div class="feedback-item__descr">Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать. <br>Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться! <br>Спасибо!!! <br> </div>
        </div>
      </div>
    </div>
  </div>
</section>
