<section class="carousel">
<div class="container">
  <div class="carousel__inner">
    <div>
      <img src="../img/carousel img/01.png" alt="slide watch">
    </div>
    <div>
      <img src="../img/carousel img/02.png" alt="slide watch">
    </div>
    <div>
      <img src="../img/carousel img/03.png" alt="slide watch">
    </div>
  </div>
  <button type="button" class="prev"><img src="../img/carousel img/chevron-left.png" alt=""></button>
  <button type="button" class="next"><img src="../img/carousel img/chevron-right.png" alt=""></button>
</div>
</section>
